* {
    font-family: 'Raleway', sans-serif;
    font-weight:500;
}

.d-flex {
    width: 40%;
    margin: 0px 50px 0px 50px !important;
}

.navbar-brand {
    text-align: center;
    margin: 0px 50px 0px 30px !important;
    color: aqua !important;
    font-size: 26px !important;
}

.btn-secondary {
    background-color: white !important;
    color: black !important;
}

.btn-outline-success {
    background-color: white !important;
    color: black !important;
}

.btn-outline-success:hover {
    background-color: blue !important;
}

.user {
    text-align: center;
    display: flex;
}

.login-contain {
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-right: 2px solid rgba(158, 186, 237, .5);
    padding: 0 10px;
}

.login-contain:hover {
    color: rgb(209, 209, 209) !important;
}

.register {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 0px 10px 0px;
}
.register:hover {
    color: rgb(209, 209, 209) !important;
}

.cart {
    background-color: #00a1ff;
    border-radius: 10px;
    border-color: transparent;
    margin-left: 30px;
    padding: 10px 0;
}

.cart button {
    color: white !important;
}

.badge {
    background-color: rgb(255, 27, 27);
    color: white !important;
    margin: 0 0 0 10px;
    border-radius: 50px !important;
    align-items: bottom !important;
}
.panel-body{
    width:70%;
    border: 1px solid whitesmoke;
}
.form-group {
    margin:20px;
}
.btn-register{
    margin:20px;
}