* {
    font-family: 'Raleway', sans-serif;
    font-weight:500;
}

.d-flex {
    margin: 0px 50px 0px 50px !important;
}

.navbar-brand {
    text-align: center;
    margin: 0px 50px 0px 30px !important;
    color: aqua !important;
    font-size: 26px !important;
}

.btn-secondary {
    background-color: white !important;
    color: black !important;
}

.btn-outline-success {
    background-color: white !important;
    color: black !important;
}

.btn-outline-success:hover {
    background-color: blue !important;
}

.user {
    text-align: center;
    display: flex;
}

.login-contain {
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-right: 2px solid rgba(158, 186, 237, .5);
    padding: 0 10px;
}

.login-contain:hover {
    color: rgb(209, 209, 209) !important;
}

.register a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 0px 10px 0px;
}
/* .register a{
    color: white;
    text-decoration: none !important;
} */
.register a:hover {
    color: rgb(209, 209, 209) !important;
}

.cart {
    background-color: #00a1ff;
    border-radius: 10px;
    border-color: transparent;
    margin-left: 30px;
    padding: 10px 0;
}

.cart button {
    color: white !important;
}

.badge {
    background-color: rgb(255, 27, 27);
    color: white !important;
    margin: 0 0 0 10px;
    border-radius: 50px !important;
    align-items: bottom !important;
}

.row {
    align-items: center;
}


.categoroyList-header h3 {
    padding-bottom: 30px;
    font-weight: 500px;
}

.carousel-item img {
    border-radius: 20px;
}

.dropdown-toggle{
    border-radius:10px !important;
    padding:10px !important;
}
.col-sm-4 img {
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
}

.right img {
    margin: 10px;
}

.list-item {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    display: flex;

}


.item-category {
    margin: 0 20px;
    width: 160px;
    border: 2px solid transparent;
}
.item-category:hover{
    transition: border-color 0.3s ease;
    border-color:blue;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    cursor:pointer;
}

.contain-item {
    max-height: fit-content;
}
.item-img {
    margin: 20px 0;
}

.item-img img {
    width: 100px;
}

.item-category p {
    font-weight: 600;
    text-wrap: pretty;
}


.background-none {
    background-color: whitesmoke;
    height: 50px;
    width: 100%;
}

.top-item h3 {
    margin: 20px;
    font-weight:bolder;
}

.item {
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
    border-radius: 20px;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width:17% !important;
}
.item a{
    text-decoration:none !important;
}

.item:hover {
    cursor: pointer;
    border-color: green;
    border-radius: 20px;
}

.img-item {
    display: flex;
    justify-content: center;
}

.img-item img {
    width: 100%;
}

.null-item {
    height: 30px;
}


.name-product p {
    font-weight:bolder;
    font-size: 32px;
}

.sale-off {
    height: 30px;
}
.sale-off p{
    text-decoration-line: line-through;
    font-size:18px;
}

.item-price {
    height: 40px;
}

.item-price p {
    color: blue;
    font-weight: bolder;
    font-size: 26px;
}
.button-container {
    display: flex;
  }

  .btn-color {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-size: 14px;
    min-width: 67px;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 2px;
    margin-right: 2px;
    vertical-align: top;
    height: 36px;
    line-height: 36px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color:white;
  }

  .btn-color:hover {
    background-color: #ccc;
  }
.add-to-cart {
    display: flex;
    justify-content: center;
}
.footer{
    background-color:whitesmoke;
    display:flex;
    margin-top:50px;
}
.footer-inf{
    display:flex;
    border-bottom: 1px solid #b2bac6;
    padding-bottom:50px;
}
.footer-inf p{
    margin-top:40px;
    font-size:24px;
    font-weight: 600;
}
.footer-inf a{
    display:block;
    text-decoration: none;
    color:rgb(126, 126, 126);
    font-size:500;
    padding:10px 0;
}

.name-product p {
    font-size: 2em;
    margin: 10px 0;
    font-weight: bold;
}

.item-price p {
    color: #ff4500;
    font-size: 1.5em;
    font-weight: bold;
}

.sale-off p {
    color: #888;
    text-decoration: line-through;
    font-size: 1.2em;
}

.button-container {
    margin: 20px 0;
}

.btn-color {
    background-color: #ddd;
    border: none;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-color:hover {
    background-color: #ccc;
}

.buy-now {
    margin-top: 20px;
}

.btn-buy {
    background-color: #ff4500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-buy:hover {
    background-color: #ff6347;
}

.product-description {
    padding: 20px;
}

.product-description h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#carousel-thumbs img {
    cursor: pointer;
}

#carousel-thumbs img:hover{
    background-color: #00a1ff ;
}

#carousel-thumbs img.thumb {
    max-height: 80px;
}
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}

.table td {
    padding: 10px;
}

.indicator-image {
    width: 20px!important; /* Điều chỉnh kích thước hình ảnh tùy thuộc vào nhu cầu của bạn */
    height: 20px!important; /* Điều chỉnh kích thước hình ảnh tùy thuộc vào nhu cầu của bạn */
    cursor: pointer; /* Thêm hiệu ứng con trỏ khi hover */
}
